Repository scaleway/scaleway-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matthprost, @lisalupi, @johnrazeur, @scaleway/front-kernel

.github/CODEOWNERS:

*                       @matthprost @lisalupi
/packages/form          @johnrazeur
**/package.json         @scaleway/front-kernel
Dockerfile              @scaleway/front-kernel
babel.config.json       @scaleway/front-kernel
tsconfig.json           @scaleway/front-kernel
vite.config.ts          @scaleway/front-kernel
turbo.json              @scaleway/front-kernel
biome.json              @scaleway/front-kernel
eslint.config.mjs       @scaleway/front-kernel
pnpm-workspace.yaml     @scaleway/front-kernel
svgo.config.cjs         @scaleway/front-kernel
.github                 @scaleway/front-kernel
.changeset/config.json  @scaleway/front-kernel
.aws                    @scaleway/front-kernel

fix: shift select
  .changeset/strange-socks-beam.md
  packages/ui/src/components/List/ListContext.tsx
  packages/ui/src/components/List/Row.tsx
  packages/ui/src/components/List/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/Row.tsx
  packages/ui/src/components/Table/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/__tests__/index.test.tsx
Owners: @matthprost, @lisalupi

fix: onChange handler and handle rows removal
  packages/ui/src/components/List/ListContext.tsx
  packages/ui/src/components/List/Row.tsx
  packages/ui/src/components/List/__stories__/Selectable.stories.tsx
  packages/ui/src/components/List/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/Row.tsx
  packages/ui/src/components/Table/__stories__/Selectable.stories.tsx
  packages/ui/src/components/Table/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/__tests__/index.test.tsx
Owners: @matthprost, @lisalupi

fix: tests
  packages/ui/src/components/List/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/__tests__/__snapshots__/index.test.tsx.snap
Owners: @matthprost, @lisalupi

chore: add changeset renovate-5d91cff
  .changeset/renovate-5d91cff.md
Owners: @matthprost, @lisalupi

ci(e2e): implement e2e structure
  .changeset/config.json
  e2e/App.tsx
  e2e/index.html
  e2e/index.tsx
  e2e/package.json
  e2e/tsconfig.json
  e2e/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @scaleway/front-kernel, @matthprost, @lisalupi

fix: add tests and structure
  e2e/App.tsx
  e2e/README.md
  e2e/mocks/mockErrors.ts
  e2e/package.json
  e2e/playwright-report/index.html
  e2e/playwright.config.ts
  e2e/test-results/.last-run.json
  e2e/tests/componentsWithinModal/render.tsx
  e2e/tests/componentsWithinModal/test.spec.ts
  e2e/tests/default.spec.ts
  e2e/tests/ui/checkbox.spec.ts
  e2e/tests/ui/list.spec.ts
  e2e/tsconfig.json
  e2e/vite.config.ts
  pnpm-lock.yaml
Owners: @matthprost, @lisalupi, @scaleway/front-kernel

ci: finish test on modal and select input
  .github/workflows/ci.yml
  .gitignore
  e2e/App.tsx
  e2e/index.tsx
  e2e/package.json
  e2e/playwright-report/index.html
  e2e/playwright.config.ts
  e2e/test-results/.last-run.json
  e2e/tests/componentsWithinModal/render.tsx
  e2e/tests/componentsWithinModal/test.spec.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Owners: @scaleway/front-kernel, @matthprost, @lisalupi

chore: add changeset renovate-28121ac
  .changeset/renovate-28121ac.md
Owners: @matthprost, @lisalupi

fix: shift select
  .changeset/strange-socks-beam.md
  packages/ui/src/components/List/ListContext.tsx
  packages/ui/src/components/List/Row.tsx
  packages/ui/src/components/List/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/Row.tsx
  packages/ui/src/components/Table/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/__tests__/index.test.tsx
Owners: @matthprost, @lisalupi

fix: onChange handler and handle rows removal
  packages/ui/src/components/List/ListContext.tsx
  packages/ui/src/components/List/Row.tsx
  packages/ui/src/components/List/__stories__/Selectable.stories.tsx
  packages/ui/src/components/List/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/Row.tsx
  packages/ui/src/components/Table/__stories__/Selectable.stories.tsx
  packages/ui/src/components/Table/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/__tests__/index.test.tsx
Owners: @matthprost, @lisalupi

fix: rework logic
  packages/ui/src/components/List/ListContext.tsx
  packages/ui/src/components/List/Row.tsx
  packages/ui/src/components/List/index.tsx
  packages/ui/src/components/Table/Row.tsx
  packages/ui/src/components/Table/index.tsx
Owners: @matthprost, @lisalupi

fix: tests
  packages/ui/src/components/List/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/__tests__/__snapshots__/index.test.tsx.snap
Owners: @matthprost, @lisalupi

fix: rebase and fix conflicts
  packages/ui/src/components/List/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/components/Table/__tests__/__snapshots__/index.test.tsx.snap
Owners: @matthprost, @lisalupi
